* {
    font-family: Open Sans;
}

ul a:hover {
    color: red !important
}

nav li {
    text-align: center;
    text-transform: uppercase
}

li>a:after {
    content: '';
    display: block;
    height: 1.5px;
    background: red;
    transform: scaleX(0);
    transition: transform .3s
}

li>a:hover:after {
    transform: scaleX(1);
    transition: transform .3s
}

.active {
    color: red !important
}

.name {
    height: 60px
}

:root {
    --clr-blue: #4285F4;
    --clr-gray: #6c6c6c;
    --clr-black: #3c3c3c;
    --clr-green: #4baf4b;
    --grid-border-clr: #cccccc;
    --transition: .25s
}

.grid {
    border-top: 1px solid var(--grid-border-clr);
    border-bottom: 1px solid var(--grid-border-clr);
    margin-bottom: -1px
}

.col-2 {
    width: 50%;
    float: left;
    padding: 5px 0
}

.box-group {
    height: 33px !important;
    justify-content: start;
    position: relative;
    margin: 0 0px
}

#selector {
    border: 0.5px solid black;
    height: 33px !important;
    width: 100% !important
}

label {
    margin-bottom: 0 !important
}

.box-group.solid label {
    font-weight: 700;
    color: black;
    padding: 5px 10px;
    transition: var(--transition);
    width: 60px;
    text-align: center;
    height: 33px;
    border: 0.5px solid black !important
}

.box-group.solid input[type="checkbox"]:checked+label,
.box-group.solid input[type="radio"]:checked+label {
    color: #ffffff;
    background: var(--clr-green);
    border: 0.5px solid black !important;
    height: 33px;

}

.box-group.solid label::before {
    position: absolute;
    border: 0.5px solid black !important;
    content: "";
    top: 3px;
    left: 3px;
    width: 18px;
    height: 33px;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
    border-radius: 3px;
    transform: scale(0) translateX(-20px);
    opacity: 0;
    transition: var(--transition)
}

table {
    margin-top: 50px;
    font-weight: 600;

}

tr:nth-child(2n+3) {
    background-color: #e9e9e9;
}

.tableTitle {
    color: white;
}

td {
    text-align: center !important;
    border: 0.2px solid #b1b0b0 !important;

}

input[type=number] {
    float: left;
    width: 30% !important;
    height: 33px !important;
    padding: 0;
    font-size: 1.2em !important;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    border: 1px #000000 solid !important;
    background: none;
    outline: none;
    pointer-events: none
}

span.spinner {
    height: 33px;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none
}

span.spinner>.sub,
span.spinner>.add {
    float: left;
    display: block;
    width: 35px;
    height: 35px;
    text-align: center;
    font-family: Lato;
    font-weight: 700;
    font-size: 1.2em;
    line-height: 33px;
    color: #000000;
    border: 1px #000000 solid;
    border-right: 0;
    border-radius: 2px 0 0 2px;
    cursor: pointer;
    transition: 0.1s linear;
    -o-transition: 0.1s linear;
    -ms-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    -webkit-transition: 0.1s linear
}

span.spinner>.add {
    top: 0;
    border: 1px #000000 solid;
    border-left: 0;
    border-radius: 0 2px 2px 0
}

span.spinner>.sub:hover,
span.spinner>.add:hover {
    background: #4baf4b;
    color: #ffffff;
    border: #4baf4b
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none
}

#bold {
    font-weight: 600;
}

.tableTitle {
    background-color: #4baf4b;
}

ul a:hover {
    color: red !important;

}

nav li {
    text-align: center;
    text-transform: uppercase;
}

li>a:after {
    content: '';
    display: block;
    height: 1.5px;
    background: red;
    transform: scaleX(0);
    transition: transform .3s;

}

li>a:hover:after {
    transform: scaleX(1);
    transition: transform .3s;

}


.active {

    color: red !important;
}

.name {
    height: 60px;
}

:root {
    --clr-blue: #4285F4;
    --clr-gray: #6c6c6c;
    --clr-black: #3c3c3c;
    --clr-green: #4baf4b;
    --grid-border-clr: #cccccc;
    --transition: .25s;
}







.grid {
    border-top: 1px solid var(--grid-border-clr);
    border-bottom: 1px solid var(--grid-border-clr);
    margin-bottom: -1px;
}

.col-2 {
    width: 50%;
    float: left;
    padding: 5px 0;
}

.box-group {
    /* height: 75%; */
    justify-content: start;
    position: relative;
    margin: 0 0px;
}



label {
    margin-bottom: 0 !important;
}


.box-group.solid label {
    font-weight: 700;
    color: black;
    padding: 5px 10px;
    transition: var(--transition);
}




.box-group.solid input[type="checkbox"]:checked+label,
.box-group.solid input[type="radio"]:checked+label {
    color: #ffffff;
    background: var(--clr-green);
    border-color: var(--clr-green);
}

.box-group.solid label::before {
    position: absolute;
    content: "";
    top: 3px;
    left: 3px;
    width: 18px;
    height: 18px;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
    border-radius: 3px;
    transform: scale(0) translateX(-20px);
    opacity: 0;
    transition: var(--transition);
}

@media (max-width: 480px) {
    body {
        display: flex;
    }

    #bold {
        display: flex !important;
        flex-direction: column !important;
        flex-wrap: wrap !important;


    }


}