@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@300;400;600;700&display=swap");
.m-header-top {
  background: #14A85C;
  height: 51px;
  z-index: 1;
  position: relative; }
  .m-header-top__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    line-height: 51px; }
  .m-header-top__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .m-header-top__text {
    display: inline-block;
    font-size: 18px;
    letter-spacing: 0.45px;
    letter-spacing: 0.6px;
    color: #fff; }
  .m-header-top__number {
    font-size: 24px; }
  .m-header-top__column:last-child .m-header-top__text {
    margin-right: 15px; }

.fa-phone,
.fa-phone-volume {
  margin-right: 7px;
  color: #fff;
  font-size: 20px; }

.fa-phone-volume {
  margin-right: 7px;
  color: #fff;
  font-size: 25px; }

.fab.fa-pinterest-p,
.fab.fa-twitter,
.fab.fa-facebook-f {
  width: 30px;
  height: 30px;
  margin: 0 7px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear; }

.fab.fa-pinterest-p {
  background: #E74B3C;
  border: 1px solid #a7352a; }
  .fab.fa-pinterest-p:hover {
    background: #d64639; }

.fab.fa-twitter {
  background: #28C2FE;
  border: 1px solid #1f80a7; }
  .fab.fa-twitter:hover {
    background: #26a9dd; }

.fab.fa-facebook-f {
  background: #4A6195;
  border: 1px solid #38486d; }
  .fab.fa-facebook-f:hover {
    background: #465a8a; }

.m-header-middle {
  height: 110px; }
  .m-header-middle__nav {
    background-color: #fff;
    width: 100%;
    line-height: 110px;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .m-header-middle__nav ul li {
      margin: 0 8px; }
      .m-header-middle__nav ul li:first-child {
        margin: 0 8px 0 0; }
      .m-header-middle__nav ul li:last-child {
        margin: 0 0 0 8px; }
    .m-header-middle__nav a[data-target=mobile-demo] {
      color: #000; }
  .m-header-middle__link {
    color: #003300;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    padding: 0;
    -webkit-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
    display: inline-block; }
    .m-header-middle__link::after {
      content: '';
      position: absolute;
      opacity: 0;
      bottom: 38px;
      right: 0;
      display: block;
      background: #e84c3d;
      width: 100%;
      height: 4px;
      -webkit-transition: 0.5s linear;
      -o-transition: 0.5s linear;
      transition: 0.5s linear; }
    .m-header-middle__link:hover {
      background-color: transparent;
      color: #e84c3d; }
      .m-header-middle__link:hover::after {
        opacity: 1; }

.sidenav {
  padding: 30px 0; }
  .sidenav li a {
    color: #003300;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear; }
    .sidenav li a:hover {
      color: #e84c3d; }

nav a.sidenav-trigger {
  display: none; }

.nav-wrapper {
  position: relative; }

.brand-logo {
  position: absolute;
  top: -47px;
  left: -143px; }

.m-header-bottom {
  background: #86EB8F;
  height: 115px; }
  .m-header-bottom__title {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    line-height: 115px; }

@media screen and (max-width: 1210px) {
  /*nav .brand-logo {
        left: 0;
        transform: none;
    }*/
  .brand-logo {
    top: 14px;
    left: 0px; }
  nav,
  nav .nav-wrapper i,
  nav a.sidenav-trigger,
  nav a.sidenav-trigger i {
    height: 64px;
    line-height: 111px; }
  nav i,
  nav [class^="mdi-"],
  nav [class*="mdi-"],
  nav i.material-icons {
    font-size: 57px; } }

@media only screen and (max-width: 1200px) {
  .hide-on-med-and-down {
    display: none !important; }
  nav .brand-logo {
    left: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; }
  nav a.sidenav-trigger {
    display: block; } }

@media screen and (max-width: 960px) {
  .m-header-top {
    display: none; } }

@media screen and (max-width: 600px) {
  .m-header-middle {
    height: 105px; }
  .m-header-bottom {
    height: 150px; }
    .m-header-bottom__title {
      line-height: 150px; } }

.footer-top {
  background: #14a85c;
  min-height: 210px;
  padding: 23px 0; }
  .footer-top__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .footer-top__column:first-child {
    max-width: 315px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .footer-top__column:last-child {
    max-width: 885px;
    width: 100%; }
  .footer-top__brand-logo {
    position: relative;
    height: 103px; }
    .footer-top__brand-logo a {
      position: absolute;
      top: -122px;
      left: -210px;
      z-index: 1; }
  .footer-top__info a {
    font-size: 14px;
    color: #fff;
    z-index: 2;
    display: block; }
  .footer-top__text {
    font-size: 11.5px;
    font-weight: 300;
    line-height: 1.52;
    text-align: justify;
    color: #fff;
    padding: 30px 25px 25px 25px;
    border: 2px solid #eaedf2;
    position: relative; }

.fa-chevron-down {
  width: 32px;
  height: 32px;
  background: #e84c3d;
  color: #fff;
  position: absolute;
  bottom: -16px;
  right: 30px;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  line-height: 32px;
  border: 1px solid #fff; }

.footer-bottom {
  background: #4e4e4e;
  height: 70px; }
  .footer-bottom__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 70px; }
  .footer-bottom__copyright {
    font-size: 14px;
    color: #fff;
    text-align: center; }

@media (max-width: 1010px) {
  .footer-top__brand-logo {
    display: none; }
  .footer-top__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .footer-top__text {
    margin-bottom: 15px; } }

@media (max-width: 770px) {
  .footer-nav {
    display: none; }
  .footer-bottom__column {
    width: 100% !important; } }

@media (max-width: 540px) {
  .footer-top {
    display: none; }
  .footer-bottom {
    background: #14a85c; } }

*,
*::before,
*::after,
input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  font-family: 'Montserrat', sans-serif; }

.m-container {
  max-width: 1200px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto; }

.required {
  color: red;
  vertical-align: super; }

.line-height {
  line-height: 33px !important; }

.error .fa-question {
  width: 20px;
  height: 20px;
  background: #e84c3d;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  display: none;
  position: absolute;
  left: 230px;
  top: 12px; }

.active {
  display: inline-block !important; }

.form-group_margin {
  margin: 25px 0px !important; }
  .form-group_margin label {
    padding: 0 !important; }

.green-btn {
  width: 140px !important;
  height: 44px !important;
  background: transparent;
  border: 2px solid #14a85c;
  -webkit-transition: background 0.4s ease-out;
  -o-transition: background 0.4s ease-out;
  transition: background 0.4s ease-out; }
  .green-btn span {
    font-size: 14px;
    line-height: 42px;
    color: #14a85c;
    text-transform: none; }
  .green-btn:hover,
  .green-btn .btn-large:hover,
  .green-btn .btn-small:hover {
    background-color: #14a85c; }
    .green-btn:hover span,
    .green-btn .btn-large:hover span,
    .green-btn .btn-small:hover span {
      color: #fff; }
    .green-btn:hover .fa-plus,
    .green-btn .btn-large:hover .fa-plus,
    .green-btn .btn-small:hover .fa-plus {
      color: #fff; }

/* Main */
.m-main__title {
  font-size: 36px;
  text-align: center;
  color: #003300;
  padding: 50px 0 33px 0;
  margin: 0; }

.m-main__text {
  font-size: 13.5px;
  font-weight: 300;
  line-height: 1.81;
  text-align: justify;
  color: #777; }

/* Form */
.form__title {
  font-size: 24px;
  line-height: 71px;
  text-align: center;
  color: #fff;
  background: #14A85C;
  height: 71px; }

.form-top,
.form-bottom {
  padding: 0px 15px;
  margin: 0 auto;
  max-width: 824px;
  width: 100%; }

/* LABEL */
label.label-item {
  font-size: 14px;
  color: #000;
  position: relative;
  cursor: pointer;
  line-height: 41px; }

/* INPUTS */
.input-item,
select.input-item {
  max-width: 505px;
  width: 100%;
  height: 44px; }

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea,
select.input-item {
  border: solid 1px #8a8585;
  margin: 0 0 9px 0;
  padding: 0 15px;
  -webkit-transition: border .3s, -webkit-box-shadow .3s;
  transition: border .3s, -webkit-box-shadow .3s;
  -o-transition: box-shadow .3s, border .3s;
  transition: box-shadow .3s, border .3s;
  transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #8a8585;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.row {
  margin: 0;
  padding: 0; }

.form-group {
  margin-bottom: 10px;
  width: 100%; }

/* INPUT SELECT */
select {
  display: block;
  max-width: 535px; }
  select option {
    max-width: 535px;
    width: 100%; }

/* TOTAL */
.form-group .total {
  font-size: 14px;
  color: #e84c3d;
  padding-left: 8px;
  line-height: 33px;
  font-weight: 700;
  display: inline-block; }

/* CHECKBOX */
.checkbox label:first-child {
  line-height: 44px !important;
  width: 34%; }

.checkbox label:last-child {
  padding: 13px 0;
  width: 66%; }

.checkbox__text,
.radio-btns__text {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #000;
  line-height: 20px; }

/* Radio buttons */
.radio-btns .input-item {
  padding-top: 25px; }

.radio-btns [type="radio"]:checked + span:after,
.radio-btns [type="radio"].with-gap:checked + span:after {
  background-color: #2e2e2e; }

.radio-btns [type="radio"]:checked + span:after,
.radio-btns [type="radio"].with-gap:checked + span:before,
.radio-btns [type="radio"].with-gap:checked + span:after {
  border: 2px solid #2e2e2e; }

.radio-btns .input-item label:first-child {
  margin-right: 22px; }

/* Textarea */
.textarea .input-item {
  max-height: 133px;
  height: 100%;
  padding: 10px 15px; }

/* File */
.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-small,
.btn-floating,
.dropdown-content,
.collapsible,
.sidenav {
  -webkit-box-shadow: none;
  box-shadow: none; }

.z-depth-1-half,
.btn:hover,
.btn-large:hover,
.btn-small:hover,
.btn-floating:hover {
  -webkit-box-shadow: none;
  box-shadow: none; }

.file .line-height {
  line-height: 25px !important; }

/* Agreement */
.agreement {
  margin-bottom: 10px !important; }

.agreement label {
  padding: 0 !important; }

.agreement label {
  width: 100%; }

/* Discount */
.discount {
  margin-top: 10px;
  margin-bottom: 10px !important; }

.discount .input-item {
  max-width: 351px !important;
  width: 100%; }

.writer .btn.green-btn,
.discount .btn.green-btn {
  margin-left: 23px; }
  @media (max-width: 620px) {
    .writer .btn.green-btn,
    .discount .btn.green-btn {
      margin-left: 3px; } }

.writer input[type=button],
.discount input[type=button] {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 52%;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0; }

/* Writer */
.writer.row .col.offset-s3 {
  margin-left: 29%; }

.writer .btn.green-btn {
  margin-top: 10px; }

.writer .fa-plus {
  color: #14a85c;
  font-size: 13px;
  -webkit-transition: 0.4s ease-out;
  -o-transition: 0.4s ease-out;
  transition: 0.4s ease-out; }

/* Grand */
.grand.row .col {
  padding: 0; }

.grand .grand__title {
  max-width: 497px;
  width: 100%;
  height: 44px;
  border: 2px solid #14a85c;
  line-height: 44px;
  font-size: 18px;
  color: #4e4e4e;
  padding-left: 12px !important;
  margin-top: 25px;
  margin-bottom: 31px; }

.grand .grand__total {
  color: #e84c3d; }

.grand__btn {
  max-width: 269px;
  width: 100%;
  height: 69px;
  line-height: 69px;
  border: solid 1px #fff;
  background: #e84c3d;
  margin-bottom: 31px;
  font-size: 18.5px;
  font-weight: 700;
  color: #fff;
  -webkit-transition: background 0.4s ease-out;
  -o-transition: background 0.4s ease-out;
  transition: background 0.4s ease-out; }

.btn.grand__btn:hover,
.btn-large:hover,
.btn-small:hover {
  background: #fff;
  color: #e84c3d;
  border: solid 1px #e84c3d; }

@media (max-width: 1006px) {
  .checkbox .row label:first-child {
    width: 34% !important; }
  .checkbox.form-group {
    margin-bottom: 0px; }
  .checkbox .error .fa-question {
    position: relative;
    left: 0px;
    top: 0px;
    margin-left: 5px; } }

@media (max-width: 890px) {
  .checkbox .row label:first-child,
  .total .row label:first-child {
    min-width: 265px !important; }
  .checkbox .row label:last-child {
    min-width: 105px !important; }
  .input-item,
  select.input-item {
    max-width: 100%;
    width: 100%; }
  .form-group {
    margin-bottom: 0px; }
  .error .fa-question {
    position: relative;
    left: 0px;
    top: 0px;
    margin-left: 5px; } }

@media (max-width: 600px) {
  .checkbox label:last-child {
    padding-left: 10px; }
  .m-main__title {
    font-size: 30px;
    padding: 30px 0 24px 0; }
  .m-main__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.81;
    text-align: justify;
    color: #777; }
  .form__title {
    margin: 30px 0 20px 0; } }
